// Alerts
.alert {
  padding: $spacing-md $spacing-lg;
  margin-bottom: $spacing-md;
  border-radius: $border-radius-md;
  border-left: 4px solid;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.alert-success {
  background-color: lighten($success-color, 35%);
  border-color: $success-color;
  color: darken($success-color, 30%);
}

.alert-error {
  background-color: lighten($danger-color, 30%);
  border-color: $danger-color;
  color: darken($danger-color, 30%);
}

.alert-warning {
  background-color: lighten($warning-color, 35%);
  border-color: $warning-color;
  color: darken($warning-color, 40%);
}

.alert-info {
  background-color: lighten($info-color, 30%);
  border-color: $info-color;
  color: darken($info-color, 30%);
}

.alert-icon {
  font-size: $font-size-lg;
}

.alert-message {
  flex: 1;
}

.alert-close {
  background: none;
  border: none;
  font-size: $font-size-lg;
  cursor: pointer;
  opacity: 0.7;
  
  &:hover {
    opacity: 1;
  }
}

