@use 'sass:color';
@use '../base/variables' as *;

button, [type=submit], [type=reset], [type=button], [type=file]::file-selector-button, [role=button] {
  background-color: var(--pico-info);
  color: $text-contrast;
  border: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius-sm;
  cursor: pointer;
}

button, [type=submit], [type=reset], [type=button], [role=button] {
  &.danger,
  &[class*="danger"] {
    background-color: var(--pico-danger);
  }
}