@use '../base/variables' as *;

// Forms

select {
  width: auto;

  &.form-control {
    cursor: pointer;
  }
}

:root,
:root:not([data-theme=dark]) {
  [type=checkbox]:checked, [type=checkbox]:checked:active, [type=checkbox]:checked:focus, [type=radio]:checked, [type=radio]:checked:active, [type=radio]:checked:focus {
    --pico-background-color: var(--pico-success-hover);
    --pico-border-color: var(--pico-success-hover);
    --pico-form-element-focus-color: var(--pico-success-hover);
  }

  [role=group], [role=fieldset] {
    align-items: center;
  }
}
