@use '../base/variables' as *;
@use 'sass:color';

// Navigation
.main-header {
  background-color: #{$primary-color};
  box-shadow: $shadow-heavy-md;
  padding: $spacing-md 0;
  width: inherit;
  position: sticky;
  top: 0;
  z-index: $z-sticky;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $text-contrast;
  text-decoration: none;
  
  &:hover {
    color: $text-contrast;
  }
}

.logo-icon {
  font-size: $font-size-xxl;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}

.nav-link {
  color: color.adjust($text-contrast, $lightness: -20%);
  text-decoration: none;
  font-weight: $font-weight-medium;
  transition: color $transition-fast;
  
  &:hover,
  &.active {
    color: $text-contrast;
  }
}

.main-footer {
  background-color: $text-primary;
  color: $text-contrast;
  font-size: $font-size-sm;
  width: inherit;
  text-align: center;
  padding: $spacing-sm 0;

  p {
    color: inherit;
    margin-bottom: 0;
  }
}



