package room

import (
	"fmt"
	"github.com/hekigan/couples/internal/services"
)

// StatusBadge renders the room status badge
templ StatusBadge(data *services.RoomStatusBadgeData) {
	<span class={ fmt.Sprintf("badge badge-%s", data.Status) } id="room-status-badge" data-testid="room-badge-status">
		{ data.Status }
	</span>
}
