@use 'sass:color';
@use 'variables' as *;

// CSS Reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-primary;
  background-color: $bg-secondary;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

p {
  margin-bottom: $spacing-md;
}

ul, ol {
  padding-left: $spacing-lg;
  margin-bottom: $spacing-md;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-fast;
  
  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}



