$icomoon-font-family: "couples" !default;
$icomoon-font-path: "fonts" !default;

$icon-new-room: "\e978";
$icon-join-room: "\e979";
$icon-comments: "\e975";
$icon-triangle-down: "\e903";
$icon-triangle-left: "\e904";
$icon-triangle-right: "\e905";
$icon-triangle-up: "\e906";
$icon-credit-card: "\e907";
$icon-credit: "\e908";
$icon-help: "\e976";
$icon-language: "\e909";
$icon-lock-open: "\e90a";
$icon-lock1: "\e90d";
$icon-sound-mix: "\e919";
$icon-qr-code-2: "\e95f";
$icon-alert-circle: "\e900";
$icon-alert-octagon: "\e901";
$icon-alert-triangle: "\e902";
$icon-bar-chart: "\e90b";
$icon-bar-chart-2: "\e90c";
$icon-bookmark: "\e90e";
$icon-camera: "\e90f";
$icon-check: "\e910";
$icon-check-circle: "\e911";
$icon-check-square: "\e912";
$icon-chevron-down: "\e913";
$icon-chevron-left: "\e914";
$icon-chevron-right: "\e915";
$icon-chevron-up: "\e916";
$icon-clock: "\e917";
$icon-code: "\e918";
$icon-download: "\e91c";
$icon-edit: "\e91d";
$icon-eye: "\e91e";
$icon-eye-off: "\e91f";
$icon-filter: "\e920";
$icon-folder: "\e921";
$icon-folder-minus: "\e922";
$icon-folder-plus: "\e923";
$icon-globe: "\e94c";
$icon-link: "\e927";
$icon-list: "\e928";
$icon-lock: "\e929";
$icon-log-in: "\e94f";
$icon-log-out: "\e94e";
$icon-mail: "\e92a";
$icon-map: "\e92b";
$icon-map-pin: "\e92c";
$icon-menu: "\e92e";
$icon-message-circle: "\e92f";
$icon-message-square: "\e930";
$icon-minus: "\e932";
$icon-more-vertical: "\e934";
$icon-plus: "\e936";
$icon-refresh-ccw: "\e937";
$icon-repeat: "\e938";
$icon-save: "\e939";
$icon-search: "\e93b";
$icon-settings: "\e93c";
$icon-shopping-cart: "\e94d";
$icon-sliders: "\e93d";
$icon-star: "\e93e";
$icon-thumbs-down: "\e93f";
$icon-thumbs-up: "\e940";
$icon-trash: "\e941";
$icon-trash-2: "\e942";
$icon-upload: "\e946";
$icon-user: "\e947";
$icon-x: "\e948";
$icon-x-circle: "\e949";
$icon-zoom-in: "\e94a";
$icon-zoom-out: "\e94b";
$icon-movie: "\e91a";
$icon-fiber_new: "\e97a";
$icon-call_merge: "\e91b";
$icon-location_on: "\e924";
$icon-stay_current_portrait: "\e925";
$icon-content_copy: "\e926";
$icon-drafts: "\e92d";
$icon-remove: "\e931";
$icon-insert_emoticon: "\e933";
$icon-add_comment: "\e97b";
$icon-directions_bike: "\e935";
$icon-directions_bus: "\e93a";
$icon-directions_car: "\e943";
$icon-directions_ferry: "\e944";
$icon-directions_subway: "\e945";
$icon-directions_walk: "\e951";
$icon-hotel: "\e952";
$icon-local_bar: "\e953";
$icon-local_florist: "\e954";
$icon-local_grocery_store: "\e955";
$icon-local_restaurant: "\e956";
$icon-pin_drop: "\e957";
$icon-mood_bad: "\e958";
$icon-notifications: "\e959";
$icon-notifications_none: "\e95a";
$icon-person: "\e95b";
$icon-person_add: "\e95c";
$icon-sentiment_very_satisfied: "\e95d";
$icon-favorite: "\e95e";
$icon-favorite_outline: "\e960";
$icon-home: "\e961";
$icon-lock_open: "\e962";
$icon-lock_outline: "\e963";
$icon-supervisor_account: "\e964";
$icon-help_outline: "\e977";
$icon-people_alt: "\e965";
$icon-sports_esports: "\e966";
$icon-sports_tennis: "\e967";
$icon-eco: "\e968";
$icon-attractions: "\e969";
$icon-dry_cleaning: "\e96a";
$icon-hardware: "\e96b";
$icon-liquor: "\e96c";
$icon-park: "\e96d";
$icon-beach_access: "\e96e";
$icon-child_friendly: "\e96f";
$icon-medical_services: "\e970";
$icon-user1: "\e950";
$icon-user-minus: "\e971";
$icon-user-plus: "\e972";
$icon-user-x: "\e973";
$icon-users: "\e974";

