@use '../base/variables' as *;

// Common page styles
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    color: $text-primary;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;

    background-image: url('/static/img/main-bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 $spacing-md;
    overflow-y: scroll;
}